<div id="upper_banner" class="hi">
	<h2>Code is Art</h2>
	<p>Great software doesn't happen by accident.
It's a product of deep curiosity, intensity, and experimentation.</p>
	
	</div>
	<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about home_page_content">
			<h2>Ideology</h2>
			<hr>
			<p>
				Fashion axe heirloom <a href="#">fingerstache Helvetica</a> Etsy Thundercats. Art party flexitarian typewriter</p>
			<p>
			PBR&B <a href="#">bespoke</a> craft beer meditation post-ironic. Next level Pitchfork banjo ugh, sartorial <a href="#">Wes</a> Anderson keytar cornhole irony keffiyeh artisan taxidermy Odd Future. Plaid typewriter YOLO XOXO 
			
			</p>
		</div>

		<div class="col-2 home_page_content">
			<h2>Stuff I've Written</h2>
			<hr>
			<% @blogs.each do |blog| %>
				<h3><a href="#"><%= link_to blog.title, blog %></a></h3>
			<p class="date"><%= blog.created_at.strftime('%A, %b %d') %>th</p>
			<% end %>
			<h5><%= link_to blogs_path do %>
				View all Articles <i class="fa fa-angle-double-right"></i>
				<% end %>
			</h5>
		</div>

		<div class="col-3 home_page_content">
			<h2>Stuff I've Built</h2>
			<hr>
			<% @projects.each do |project| %>
				<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime('%A, %b %d') %>th</p>
			<% end %>
			<h5><%= link_to projects_path do %>
				View all Articles <i class="fa fa-angle-double-right"></i>
				<% end %>
			</h5>
		</div>
	</div>