<div id="post_show_content" class="skinny_wrapper wrapper_padding">
		<header>
			<p class="date">
				<%= @project.created_at.strftime('%A, %b %d') %>th
			</p>
			<h1><%= @project.title %><br></h1>
			<hr>
		</header>
		<div id="content">
	<%= markdown @project.description %>
	<div class="button_wrapper">
		<a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %></a>
		<% if !@project.github_link.nil? %>
		<a href="<%= @project.github_link %>" class="project_button" target="_blank"><i class="fa fa-github"></i> Visit Repo</a>
		<% end %>
	</div>
	<hr>
	</div>
	</div>